.find.initPrompt {
  .inProgressBucket {
    opacity: 0;
    max-height: 1px;
    transition: all 0.5s ease;
    &.inProgress {
      opacity: 1;
      max-height: 1000px;
      overflow: hidden;
    }
  }
  .contentBucket {
    transition: all 0.5s ease;
    &.inProgress {
      transition: all 0.5s ease;
      opacity: 0;
      max-height: 1px;
    }
  }
  .row {
    .searchSelectorContainer {
      text-align: center;
      padding: 0;
      .searchSelector {
        font-size: 30px;
        color: #CFCFD0;
        cursor: pointer;
        padding: 15px 5px 5px 5px;
        width: 50px;
        display: inline-block;
        &.selected {
          cursor: default;
          color: #428bca;
        }
      }
    }
  }
}
