<% angularPrefix = angularPrefix || nil %>

<% entity.class::HUMANIZED_COLLUMNS.each do |field_key, field_name| %>
    <div class="row">
      <label class="_field col-xs-6 text-right">
        <%= field_name %>:
      </label>
      <span class="_value  col-xs-6 text-left">
        <%# if angularPrefix {{ angularPrefix + field_key }} Prefix %>
        <%# else %>
            <%= entity[field_key] %>
        <%# end %>
      </span>
    </div>
<% end %>