<%= form_for(:login, url: "/sign/in", remote: true, :html => {"ajax-receptor" => "", "receptor" => "login"}) do |f| %>
    <div class="alert alert-warning" ng-bind="ss.loginError" ng-show="ss.loginError != null"></div>
    <div class="_field">
      <%= f.email_field :email, required: true, autofocus: true, placeholder: (I18n.t 'email') %>
    </div>

    <div class="_field">
      <%= f.password_field :password, autocomplete: "off", required: true, placeholder: (I18n.t 'password') %>
    </div>

    <%# if devise_mapping.rememberable? -%>
    <div class="_field _checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
    <%# end -%>

    <div class="_field _fieldSubmit">
      <%= f.submit "Log In", :class => "btn btn-primary btn-md" %>
    </div>
<% end %>
