<%= form_for(:new_member, url: "/sign/up", remote: true, :html => {"ajax-receptor" => "", "receptor" => "signup"}) do |f| %>

    <div class="_field">
      <%= f.text_field :name, required: true, placeholder: (I18n.t 'user_name') %>
    </div>

    <div class="_field">
      <%= f.email_field :email, required: true, placeholder: (I18n.t 'email') %>
    </div>

    <div class="_field">
      <%= f.password_field :password, required: true, autocomplete: "off", placeholder: (I18n.t 'password') %>
    </div>

    <div class="_field">
      <%= f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: (I18n.t 'confirm_password') %>
    </div>

    <div class="_field _fieldSubmit">
      <%= f.submit "Sign Up", :class => "btn btn-primary btn-md" %>
    </div>
<% end %>