<div class="signVendors">

  <button login-facebook class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i> Facebook Login
  </button>

  <a login-twitter class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
    <i class="fa fa-twitter"></i> Twitter Login
  </a>


  <!--button login-linkedin class="btn btn-block btn-social btn-linkedin">
    <i class="fa fa-linkedin"></i> LinkedIn
  </button-->
</div>

