.inProgressBlockWholePageContainer {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 0.8;
  z-index: 1;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  md-progress-circular {
    display: inline-block;
  }
}