<% headerHtml = headerHtml || nil %>
<% headerText = headerText || nil %>
<% header = header || nil %>
<% contentHtml = contentHtml || nil %>
<% contentText = contentText || nil %>
<% content = content || nil %>
<% contentObject = contentObject || nil %>
<% footerHtml = footerHtml || nil %>
<% footerText = footerText || nil %>
<% footer = footer || nil %>
<% angularPrefix = angularPrefix || nil %>

<div bootstrap-modal class="modal fade" id="<%= modalDOMId %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <% if headerHtml || headerText || header %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <% if headerHtml %>
                <%= headerHtml.html_safe %>
            <% else %>
                <% if headerText %>
                    <h4 class="modal-title" id="myModalLabel"><%= headerText %></h4>
                <% else %>
                    <%= render partial: header %>
                <% end %>
            <% end %>

          </div>
      <% end %>

      <% if contentHtml || contentText || content %>
          <div class="modal-body container-fluid">

            <div class="row">


              <% if contentHtml %>
                  <%= contentHtml.html_safe %>
              <% else %>
                  <% if contentText %>
                      <%= contentText %>
                  <% else %>
                      <%= render partial: content,
                                 object: contentObject %>
                  <% end %>
              <% end %>


            </div>

          </div>
      <% end %>

      <% if footerHtml || footerText || footer %>
          <div class="modal-footer">

            <% if footerHtml %>
                <%= footerHtml.html_safe %>
            <% else %>
                <% if footerText %>
                    <%= footerText %>
                <% else %>
                    <%= render partial: footer %>
                <% end %>
            <% end %>

          </div>
      <% end %>
    </div>
  </div>
</div>