.creators {
  .creator {
    padding-top: 25px;
    div {
      line-height: 25px;
      i {
        font-size: 20px;
      }
      &.image {
        text-align: center;
        img {
          display: inline-block;
          width: 100%;
          max-width: 200px;
          height: auto;
        }
      }
      &.contact {
        .contactBox {
          max-width: 200px;
          display: inline-block;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .creators {
    .creator {
      div {
        &.contact {
          text-align: center;
        }
      }
    }
  }
}