<div class="_item" ng-repeat="i in hostPowwow.items"
     ng-class-odd="'odd'">
  <div class="col-xs-8 _content">{{i.name}}</div>
  <div class="col-xs-4 text-center">

    <a ajax-receptor data-method="put" data-remote="true" ng-href="/hostpowwow/{{i.id}}" receptor="hostPowwow:put"><i class="fa fa-edit"></i></a>
    <a ajax-receptor data-method="delete" data-remote="true" ng-href="/hostpowwow/{{i.id}}" receptor="hostPowwow:delete"><i class="fa fa-minus-circle"></i></a>

  </div>
</div>