<div class="whatIsItPage">
  <div class="fancyWatermarkLogo">
    <%= image_tag("hife_rocks.png") %>
  </div>

  <div class="fancyWatermarkLogo"></div>
  <h1><a href="/">hife.io</a></h1>

  <div class="_bodyContent">
    <h2>
      Capture Brilliant Minds Key Instants!
    </h2>

    <div class="_quote">
      <p>
        Seize the present, scale the value beyond the future for You and everyone in Your Community!!!
      </p>
    </div>
    <div class="contact">
      <div class="image col-xs-4">

      </div>
      <div class="companyContact col-xs-8">
        <div><strong>hife</strong></div>
        <!--div><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/hife" target="_blank">hife.io</a></div-->
        <div><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/hifeio" target="_blank">@hifeio</a></div>
      </div>
    </div>
  </div>
</div>
