<div class="whoAreWe">
  <div class="fancyWatermarkLogo">
    <%= image_tag("hife_rocks.png") %>
  </div>

  <h1><a href="/">hife.io</a></h1>
  <h4>Making Value happen!</h4>

  <div class="creators">


    <div class="creator row">
      <div class="image col-xs-12 col-sm-2">
        <%= image_tag("inguanzo.jpg") %>
      </div>
      <div class="contact col-xs-12 col-sm-10">
        <div class="contactBox">
          <div><strong>Mauricio Inguanzo</strong></div>
          <div><i class="fa fa-birthday-cake"></i> <span>Founder</span></div>
          <div><i class="fa fa-envelope-square"></i>
            <a href="mailto:inguanzo@hife.io" target="_blank">inguanzo@hife.io</a></div>
          <div><i class="fa fa-phone-square"></i> <a href="tel:208-850-6673">208-850-6673</a></div>
          <div><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/inguanzo" target="_blank">Mauricio Inguanzo</a></div>
          <div><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/inguanzo" target="_blank">@inguanzo</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>