<div id="main-menu-desk-container">
  <div menu="main-menu" target="home" class="active">

    <div class="column columnInit col-xs-12 theBegining">

      <%= image_tag("hife_rocks.png") %>

    </div>

  </div>

</div>

<div class="_footer row">
    <span>"Next time, there wont be next time" -Eminem</span>
</div>