// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fancyWatermarkLogo {
  position: absolute;
  padding-top: 30px;
  img {
    opacity: 0.3;
    width: 300px;
    height: auto;
  }
}

.whatIsItPage {
  ._bodyContent {
    h2 {
      text-align: center;
    }
    ._quote {
      padding: 30px 50px;
      text-align: center;
      p {
        display: inline-block;
        font-size: 20px;
        max-width: 400px;
        text-align: center;
      }
    }
  }
}