.desk {
  &.open {
    .addGlobalContainer {
      max-height: 2000px;
    }
  }
  .addGlobalContainer {
    max-height: 1px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    .addContainer {
      text-align: left;
      .initPrompt {
        .iconContainer {
          i {
            font-size: 35px;
            cursor: pointer;
            padding-top: 15px;
          }
        }
      }
    }
  }
}