.julianTextArea {
  resize: none;
}

body {

  h3, h4 {
    margin: 0;
  }

  .jLink {
    cursor: pointer;
    color: #428bca;
    &:hover {
      color: #5BB6CA;
      text-decoration: none;
    }
    &:visited {
      color: #428bca;
      text-decoration: none;
    }
  }

}
