// Place all the styles related to the meeting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#meetingMap {
  height: 200px;
  max-height: 200px;
  float: left;
}

.someMeetingDetails {
  max-height: 200px;
  overflow: auto;
}

.sampleSpots {
  td {
    padding: 0 10px;
  }
}
