// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background: transparent;

  .clearBoth {
    clear: both;
  }

  json-load {
    display: none;
  }
  input {
    width: 100%;
    height: 30px;
    line-height: 25px;
    font-size: 16px;
    padding-left: 5px;
  }
  .btn:focus,
  .btn:hover {
    color: #ffffff;
  }

  .nav.nav-pills {
    li {
      cursor: pointer;
      &.companyLogo {
        margin: -5px 0 0 25px;
        font-size: 20px;
      }
    }
  }
  .logout {
    margin-top: 10px;
    display: block;
  }
  .profile-btn {
    padding: 4px 6px 0 6px;
    span.blockyText {
      display: block;
      float: left;
      padding: 4px 6px 0 0;
    }
    span._imageContainer {
      display: inline-block;
      width: 26px;
      height: 26px;
      overflow: hidden;
      border-radius: 3px;
      -moz-border-radius: 3px;
      img {
        width: 26px;
        height: auto;
      }
    }
    i {
      font-size: 23px;
      height: 27px;
    }
  }
  .desk {
    max-width: 1020px;
    width: 100%;
    display: inline-block;
    color: #FFF5EE;
    padding-top: 15px;

    .createExperienceEntry {
      position: fixed;
      color: white;
      height: 30px;
      text-align: center;
      font-weight: bold;
      z-index: 2;
      top: 0;
      background: #428bca;
      &.goBack {
        padding-top: 0;
        i {
          line-height: 29px;
        }
      }
      label {
        display: block;
        font-size: 9px;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      .createExperienceEntryButton {
        cursor: pointer;
        background: #428bca;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        padding-top: 2px;
        width: 42px;
        height: 42px;
        display: inline-block;
        i {
          font-size: 38px;
        }
      }
    }
    .inprogressFullLayoutContainer {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      display: table;
      ._row {
        height: 100%;
        display: table-row;
        vertical-align: middle;
        img {

        }
      }
    }

    header {
      padding: 0 15px;
      ul li.pull-right {
        margin-left: 15px;
        &.postMode {
          color: #428bca;
          font-size: 25px;
          i {
          }
        }
      }
    }
    .internalDesk {
      position: relative;

      text-align: left;

      -moz-border-radius: 5px;
      border-radius: 5px;

      background: white;
      color: black;

      min-height: 500px;
      height: 100%;

      margin: 15px 15px 0 15px;
      padding: 15px;

      overflow: hidden;

      ._footer {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        width: 100%;
        margin-left: -15px;
        padding: 0;
        background: #FFF5EE;
        text-align: center;
      }
    }
  }
  footer {
    a {
      padding-right: 15px;
    }
  }
}

.modal {
  color: black;
  h4, p {
    text-align: left;
    margin-top: 0;
  }
  .modal-body {
    padding: 10px 10px 0 10px;
  }
}

.ngRubyList {
  ._emptyList {
    text-align: center;
    padding: 20px;
    border: 1px solid brown;
  }
  h4 ._promptTrigger {
    color: #3276b1;
    cursor: pointer;
    i {
      font-size: 24px;
    }
    span {
      font-size: 14px;
    }
  }
  h4 ._promptTrigger:hover {
    color: #357ebd;
    i {
      font-weight: bold;
    }
  }
  form {
    .input-group {
      width: 100%;
    }
    ._field {
      padding-bottom: 15px;
      ._timeField {
        width: 50%;
        float: left;
      }
      ._placeField {
        width: 50%;
        float: left;
        padding-top: 14px;
      }
    }
  }
  ._list {
    ._item {
      margin-bottom: 10px;
      height: 30px;
      a {
        cursor: pointer;
        display: inline-block;
        padding-left: 5px;
        i {
          font-size: 25px;
          padding-top: 3px;
        }
      }
      ._content {
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
    ._item.odd {
      background-color: #eef0ff;
    }
    ._item:hover {
      background-color: #ffd7bb;
    }
  }
}

#main-menu-desk-container {
  [menu=main-menu] {
    display: none;
  }
  .active[menu=main-menu] {
    display: block;
  }
  .columnInit {
    padding: 0;
  }
}

#loginModal {
  form {
    text-align: left;
  }
  .loginForm {
    form {
      padding: 0 20px;
    }
    ._field {
      padding-bottom: 5px;
      label {
        display: block;
      }
      input {
        display: block;
      }

    }
    ._field._checkbox {
      padding-top: 5px;
      input {
        height: 15px;
      }
      label {
        display: inline-block;
        cursor: pointer;
      }
      input {
        display: inline-block;
        width: 20px;
      }
    }
    ._field._fieldSubmit {
      text-align: center;
      padding-top: 10px;
      input {
        display: inline-block;
        width: 70%;
      }
    }
  }
  .modal-body {
    .row {
      padding-bottom: 10px;

      .signVendors {
        border-bottom: none;
        padding: 0 20px 20px 20px;
        text-align: center;
        .btn-social {
          margin-top: 5px;
          text-align: left;
          padding-left: 40px;
          width: 70%;
          display: inline-block;
        }
      }
      @media (max-width: 768px) {
        .signVendors {
          border-bottom: 1px solid #e5e5e5;
        }
      }
      #signupFormContainer {
        padding-top: 20px;
      }
      @media (min-width: 768px) {
        #signupFormContainer {
          border-left: 1px solid #e5e5e5;
          padding-top: 0;
        }
      }
    }
  }
}

.entityRow {
  label._field {

  }
  span._value {
  }
}

.fullButtonRow {
  text-align: center;
  button {
    max-width: 300px;
  }
}

button.btn.btn-default {
  &:hover, &:focus {
    background: #428bca;
  }
}

.goncenLink {
  font-size: 20px;
  i.fa-globe {
    padding: 0 1px;
  }
}

textarea {
  resize: none;
}