<% prompt = listName + "__prompt" %>
<div class="ngRubyList">
  <h4><%= I18n.t (listName + ".title") %>
    <span class="_promptTrigger" toggle-view event="click" target=".<%= prompt %>">
    <i class="fa fa-plus-square"></i>
    <span class="<%= prompt %>" data-inline="true" style="display: none">maybe later</span>
    <span class="<%= prompt %>" data-inline="true">add now</span>
  </span></h4>

  <div class="<%= prompt %> _prompt" style="display: none">

    <%= render :partial => 'partials/form/' + listName %>

  </div>

  <div ng-show="<%= listName %>.items.length == 0" class="_emptyList">
    {{<%= listName %>__Empty}}
  </div>

  <div ng-show="<%= listName %>.items.length > 0" class="_list">
    <%= render :partial => 'partials/core/angular/ng-repeat/' + listName %>
  </div>

  <div json-load target="<%= listName %>" payload='<%= list %>'></div>
</div>