#main-menu-desk-container {
  .column {
    padding-bottom: 20px;
    &.theBegining {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.tags {
  ul.tag-list {
    li.tag-item {
      color: black;
    }
  }
}