<!DOCTYPE html>
<html ng-app="site">
<head>
  <title><%= I18n.t 'root.title' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="keywords" content="<%= @metaKeywords %>">
  <meta name="description" content="<%= @metaDescription %>">
  <meta name="title" content="<%= @metaTitle %>">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all" %>

  <%# javascript_include_tag "application" %>

  <%# javascript_include_tag "angular/app" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="desk" ng-controller="DeskCtrl"
     ng-class="{open: postMode}">
  <div class="inProgressBlockWholePageContainer hidden">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <% if @session_member.status_id != Status::UNREGISTERED %>
      <div class="addGlobalContainer">
        <div class="addContainer row">
          <div class="column  columnInit col-xs-12">

          </div>
        </div>

        <div class="createExperienceEntry"
             ng-show="!postMode"
             ng-click="postMode = true">
          <label>CREATE</label>

          <div class="createExperienceEntryButton">
            <i class="fa fa-plus-circle"></i>
          </div>
        </div>

        <div class="createExperienceEntry goBack"
             ng-show="postMode"
             ng-click="postMode = false">
          <label>BACK</label>

          <div class="createExperienceEntryButton">
            <i class="fa fa-chevron-up"></i>
          </div>
        </div>

      </div>

  <% end %>

  <div ng-show="!postMode">
    <header bootup-fade-in style="display: none;">
      <ul class="nav nav-pills">
        <li class="companyLogo">
          <a class="homeLink" href="/">hife.io</a>
        </li>

        <div ng-show="ss.isGuest != null && ss.isGuest">
          <li class="pull-right">
            <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#loginModal"><%= I18n.t('auth.login') %></button>
          </li>

          <%= render partial: 'partials/core/wrapper/modal',
                     locals: {
                             modalDOMId: 'loginModal',
                             headerText: I18n.t('auth.login'),
                             content: 'partials/core/login_signup'} %>

        </div>

        <div ng-show="ss.isGuest != null && !ss.isGuest">

          <li class="pull-right">
            <button class="btn btn-primary btn-md profile-btn" data-toggle="modal" data-target="#profileModal">
              <span class="blockyText">{{ ss.member.name }}</span>

                <span class="_imageContainer">
                  <img ng-src="{{ss.member.thumbnail_url}}"/>
                </span>

            </button>
          </li>

          <li class="pull-right logout">
            <%= link_to 'logout', "/sign/off",
                        method: :delete,
                        remote: true,
                        "ajax-receptor" => "",
                        receptor: "logout",
                        class: "jLink" %>
          </li>


          <%= render partial: 'partials/core/wrapper/modal',
                     locals: {
                             modalDOMId: 'profileModal',
                             headerHtml: @session_member.name + "'s profile",
                             content: 'partials/core/entity',
                             contentObject: @session_member,
                             angularPrefix: 'ss.member.',
                             footer: 'partials/core/entity_button_actions'} %>


        </div>

      </ul>
    </header>

    <div class="internalDesk">
      <div class="_paper">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<div id="fb-root">
</div>
<footer>
  <%= link_to_unless_current "About hife", {controller: "company", action: "whatisit"} %>
  <%= link_to_unless_current "Who is hife?", {controller: "company", action: "whoarewe"} %>
</footer>
<json-load target="session" payload='<%= @member_json %>'></json-load>

<script src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=680728278630873&VERSION=v2.0"></script>

</body>
</html>
